<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spark WSSSE 2015</title>
	<div th:replace="resources :: assets"></div>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <div th:replace="resources :: navigation"></div>
  
  <div class="content-wrapper">
    <div class="container-fluid">
    
    <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Spark WSSSE</li>
        <li class="breadcrumb-item">2015</li>
      </ol>
    
    <!-- Area Chart Example--> 
      
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Within Set Sum of Squared Error
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Number of Cluster</th>
                  <th>WSSSE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>1474005716.97</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>263058178.61</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>238958750.118</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>241101304.428</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>124612985.317</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
      
      
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright of APA? PDB 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>
  
	
	<div th:replace="resources :: javascripts"></div>
</body>

</html>
