<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spark WSSSE 2005 - Fasilkom UI's Hadoop Server</title>
	<div th:replace="resources :: assets"></div>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <div th:replace="resources :: navigation"></div>
  
  <div class="content-wrapper">
    <div class="container-fluid">
    
    <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Spark WSSSE</li>
        <li class="breadcrumb-item">2005</li>
        <li class="breadcrumb-item">Fasilkom UI's Hadoop Server</li>
      </ol>
    
    <!-- Area Chart Example--> 
      
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Within Set Sum of Squared Error
        </div>
        <div class="card-body">
          <div class="table-responsive">
          	<p>WSSSE value = x</p>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Number of Cluster</th>
                  <th>Total WSSSE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>WSSSE + x</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>WSSSE + x</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>WSSSE + x</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>WSSSE + x</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>WSSSE + x</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>WSSSE + x</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
      
      
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright of APA? PDB 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>
  
	
	<div th:replace="resources :: javascripts"></div>
</body>

<script>
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif',
Chart.defaults.global.defaultFontColor = "#292b2c";

var ctx = document.getElementById("myPieChart"), 
		myPieChart = new Chart(
		ctx, {
			type : "pie",
			data : {
				labels : [ "Cluster 0", "Cluster 1", "Cluster 2", "Cluster 3", "Cluster 4" ],
				datasets : [ {
					data : [ 10, 36, 14, 37, 3 ],
					backgroundColor : [ "#007bff", "#dc3545", "#ffc107",
							"#28a745", "#add8e6" ]
				} ]
			}
		});
</script>

</html>
