<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Weka Statistics 2016 - EM</title>
	<div th:replace="resources :: assets"></div>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <div th:replace="resources :: navigation"></div>
  
  <div class="content-wrapper">
    <div class="container-fluid">
    
    <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Weka Statistics</li>
        <li class="breadcrumb-item">2016</li>
        <li class="breadcrumb-item">EM</li>
      </ol>
    
    <!-- Area Chart Example-->  
      <div class="row">
        <div class="col-lg-12">
          <!-- Example Pie Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>Expectation-Maximization (in %)</div>
            <div class="card-body">
              <canvas id="myPieChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted"></div>
          </div>
        </div>
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Representation
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Attribute</th>
                  <th>Cluster 0</th>
                  <th>Cluster 1</th>
                  <th>Cluster 2</th>
                  <th>Cluster 3</th>
                  <th>Cluster 4</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ItemType</td>
                  <td>CS 9 - Valmat Folio*</td>
                  <td>Book: Juv</td>
                  <td>Book: Adult/YA</td>
                  <td>Diskette: Adult/YA</td>
                  <td>CD-ROM: Adult/YA</td>
                  <td>CH1-Children's Seasonal*</td>
                  <td>Framed Art: Adult/YA</td>
                </tr>
                <tr>
                  <td>Collection</td>
                  <td>Online Resource</td>
                  <td>NC-Children's Comics</td>
                  <td>NA-Large Print New</td>
                  <td>NA-Fiction</td>
                  <td>NA-Sci-Fi/Fiction</td>
                  <td>NC-Children's Comics</td>
                  <td>CA1-CD-ROM</td>
                </tr>
                <tr>
                  <td>CheckoutDateTime</td>
                  <td>12:00 - 14:59</td>
                  <td>12:00 - 14:59</td>
                  <td>12:00 - 14:59</td>
                  <td>15:00 - 17:59</td>
                  <td>12:00 - 14:59</td>
                  <td>12:00 - 14:59</td>
                  <td>12:00 - 14:59</td>
                </tr>
                <tr>
                  <td>Season</td>
                  <td>Summer</td>
                  <td>Summer</td>
                  <td>Winter</td>
                  <td>Summer</td>
                  <td>Winter</td>
                  <td>Fall</td>
                  <td>Summer</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">*Attribute and value do not match</div>
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Mean
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Attribute</th>
                  <th>Cluster 0</th>
                  <th>Cluster 1</th>
                  <th>Cluster 2</th>
                  <th>Cluster 3</th>
                  <th>Cluster 4</th>
                  <th>Cluster 5</th>
                  <th>Cluster 6</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ItemType</td>
                  <td>120.877</td>
                  <td>416.5618</td>
                  <td>2.6231</td>
                  <td>7.0032</td>
                  <td>5.5864</td>
                  <td>416.4746</td>
                  <td>2.4304</td>
                </tr>
                <tr>
                  <td>Collection</td>
                  <td>182.1998</td>
                  <td>459.9188</td>
                  <td>250.1091</td>
                  <td>237.4361</td>
                  <td>241.7368</td>
                  <td>459.5447</td>
                  <td>254.2165</td>
                </tr>
                <tr>
                  <td>CheckoutDateTime</td>
                  <td>4.3142</td>
                  <td>4.4618</td>
                  <td>4.4548</td>
                  <td>4.5154</td>
                  <td>4.4264</td>
                  <td>4.433</td>
                  <td>4.4523</td>
                </tr>
                <tr>
                  <td>Season</td>
                  <td>1.1055</td>
                  <td>0.5355</td>
                  <td>0.4964</td>
                  <td>0.6252</td>
                  <td>0.515</td>
                  <td>0.5257</td>
                  <td>0.657</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Standard Deviation
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Attribute</th>
                  <th>Cluster 0</th>
                  <th>Cluster 1</th>
                  <th>Cluster 2</th>
                  <th>Cluster 3</th>
                  <th>Cluster 4</th>
                  <th>Cluster 5</th>
                  <th>Cluster 6</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ItemType</td>
                  <td>109.2615</td>
                  <td>1.3426</td>
                  <td>0.9389</td>
                  <td>0.0562</td>
                  <td>2.2843</td>
                  <td>1.2318</td>
                  <td>0.8219</td>
                </tr>
                <tr>
                  <td>Collection</td>
                  <td>67.4909</td>
                  <td>14.039</td>
                  <td>122.3169</td>
                  <td>18.5185</td>
                  <td>21.3267</td>
                  <td>13.9068</td>
                  <td>103.4448</td>
                </tr>
                <tr>
                  <td>CheckoutDateTime</td>
                  <td>4.3142</td>
                  <td>4.4618</td>
                  <td>4.4548</td>
                  <td>4.5154</td>
                  <td>4.4264</td>
                  <td>4.433</td>
                  <td>4.4523</td>
                </tr>
                <tr>
                  <td>Season</td>
                  <td>1.1055</td>
                  <td>0.5355</td>
                  <td>0.4964</td>
                  <td>0.6252</td>
                  <td>0.515</td>
                  <td>0.5257</td>
                  <td>0.657</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
      
      
    
      
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright of APA? PDB 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>
  
	
	<div th:replace="resources :: javascripts"></div>
</body>

<script>
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif',
Chart.defaults.global.defaultFontColor = "#292b2c";

var ctx = document.getElementById("myPieChart"), 
		myPieChart = new Chart(
		ctx, {
			type : "pie",
			data : {
				labels : [ "Cluster 0", "Cluster 1", "Cluster 2", "Cluster 3", "Cluster 4", "Cluster 5", "Cluster 6" ],
				datasets : [ {
					data : [ 1, 17, 17, 18, 9, 17, 22 ],
					backgroundColor : [ "#007bff", "#dc3545", "#ffc107",
							"#28a745", "#add8e6", "#ff00ff", "#008080" ]
				} ]
			}
		});
</script>

</html>
