<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
	<center>
		<p2>WEKA PDB03</p2>
		<br /> 
		<a th:href="'/weka/2005'">
			<button th:text="'Year 2005'"></button>
		</a>
		<a th:href="'/weka/2006'">
			<button th:text="'Year 2006'"></button>
		</a>
		<a th:href="'/weka/2009'">
			<button th:text="'Year 2009'"></button>
		</a>
		<a th:href="'/weka/2010'">
			<button th:text="'Year 2010'"></button>
		</a>
		<a th:href="'/weka/2011'">
			<button th:text="'Year 2011'"></button>
		</a>
		<a th:href="'/weka/2012'">
			<button th:text="'Year 2012'"></button>
		</a>
	</center>
</body>
</html>