<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Weka Statistics 2009 - EM</title>
	<div th:replace="resources :: assets"></div>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <div th:replace="resources :: navigation"></div>
  
  <div class="content-wrapper">
    <div class="container-fluid">
    
    <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Weka Statistics</li>
        <li class="breadcrumb-item">2009</li>
        <li class="breadcrumb-item">EM</li>
      </ol>
    
    <!-- Area Chart Example-->  
      <div class="row">
        <div class="col-lg-12">
          <!-- Example Pie Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>Expectation-Minimization (in %)</div>
            <div class="card-body">
              <canvas id="myPieChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted"></div>
          </div>
        </div>
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Representation
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Attribute</th>
                  <th>Cluster 0</th>
                  <th>Cluster 1</th>
                  <th>Cluster 2</th>
                  <th>Cluster 3</th>
                  <th>Cluster 4</th>
                  <th>Cluster 5</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ItemType</td>
                  <td>Book</td>
                  <td>Book</td>
                  <td>Book</td>
                  <td>Book</td>
                  <td>Data Disc</td>
                  <td>Data Disc</td>
                </tr>
                <tr>
                  <td>Collection</td>
                  <td>Afam - Juv. Video</td>
                  <td>WTBBL-Standard Book</td>
                  <td>NC-Children's Comics</td>
                  <td>Peak Picks Fiction</td>
                  <td>NA-Paperbacks</td>
                  <td>NA-Sci-Fic/Fantasy</td>
                </tr>
                <tr>
                  <td>CheckoutDateTime</td>
                  <td>15:00 - 17:59</td>
                  <td>15:00 - 17:59</td>
                  <td>15:00 - 17:59</td>
                  <td>15:00 - 17:59</td>
                  <td>15:00 - 17:59</td> 
                  <td>15:00 - 17:59</td>
                </tr>
                <tr>
                  <td>Season</td>
                  <td>fall</td>
                  <td>fall</td>
                  <td>Summer</td>
                  <td>fall</td>
                  <td>fall</td>
               <td>Spring</td> </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">*Attribute and value do not match</div>
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Mean
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Attribute</th>
                  <th>Cluster 0</th>
                  <th>Cluster 1</th>
                  <th>Cluster 2</th>
                  <th>Cluster 3</th>
                  <th>Cluster 4</th>
                 <th>Cluster 5</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ItemType</td>
                  <td>417.023</td>
                  <td>102.2016</td>
                  <td>416.9817</td>
                  <td>2.6979</td>
                  <td>6.9682</td>
                  <td>6.0408</td>
                </tr>
                <tr>
                  <td>Collection</td>
                  <td>458.156</td>
                  <td>204.485</td>
                  <td>460.1108</td>
                  <td>244.8089</td>
                  <td>240.6214</td>
                  <td>241.8828</td>
                </tr>
                <tr>
                  <td>CheckoutDateTime</td>
                  <td>4.5233</td>
                  <td>4.5282</td>
                  <td>4.5298</td>
                  <td>4.5978</td>
                  <td>4.5486</td>
                  <td>4.6118</td>
                </tr>
                <tr>
                  <td>Season</td>
                  <td>2.4843</td>
                  <td>1.542</td>
                  <td>0.5448</td>
                  <td>1.5274</td>
                  <td>2.4767</td>
                  <td>0.459</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Standard Deviation
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
       <tr>
                  <th>Attribute</th>
                  <th>Cluster 0</th>
                  <th>Cluster 1</th>
                  <th>Cluster 2</th>
                  <th>Cluster 3</th>
                  <th>Cluster 4</th>
                 <th>Cluster 5</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ItemType</td>
                  <td>1.6933</td>
                  <td>123.9159</td>
                  <td>1.7372</td>
                  <td>0.9507</td>
                  <td>0.3454</td>
                  <td>2.0037</td>
                </tr>
                <tr>
                  <td>Collection</td>
                  <td>16.5933</td>
                  <td>66.0491</td>
                  <td>15.5231</td>
                  <td>114.62</td>
                  <td>19.104</td>
                  <td>19.6724</td>
                </tr>
                <tr>
                  <td>CheckoutDateTime</td>
                  <td>0.8647</td>
                  <td>0.9412</td>
                  <td>0.8939</td>
                  <td>0.8617</td>
                  <td>0.8373</td>
                  <td>0.896</td>
                </tr>
                <tr>
                  <td>Season</td>
                  <td>0.5278</td>
                  <td>1.1768</td>
                  <td>0.5323</td>
                  <td>1.1211</td>
                  <td>0.5422</td>
                  <td>0.5113</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
      
      
    
      
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright of APA? PDB 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>
  
	
	<div th:replace="resources :: javascripts"></div>
</body>

<script>
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif',
Chart.defaults.global.defaultFontColor = "#292b2c";

var ctx = document.getElementById("myPieChart"), 
		myPieChart = new Chart(
		ctx, {
			type : "pie",
			data : {
				labels : [ "Cluster 0", "Cluster 1", "Cluster 2", "Cluster 3", "Cluster 4", "Cluster 5" ],
				datasets : [ {
					data : [ 12, 2, 13, 46, 13, 15 ],
					backgroundColor : [ "#007bff", "#dc3545", "#ffc107",
							"#28a745", "#add8e6", "#ffec9d" ]
				} ]
			}
		});
</script>

</html>
