<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Weka Statistics 2006 - EM</title>
	<div th:replace="resources :: assets"></div>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <div th:replace="resources :: navigation"></div>
  
  <div class="content-wrapper">
    <div class="container-fluid">
    
    <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Weka Statistics</li>
        <li class="breadcrumb-item">2006</li>
        <li class="breadcrumb-item">EM</li>
      </ol>
    
    <!-- Area Chart Example-->  
      <div class="row">
        <div class="col-lg-12">
          <!-- Example Pie Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>Expectation-Minimization (in %)</div>
            <div class="card-body">
              <canvas id="myPieChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted"></div>
          </div>
        </div>
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Representation
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Attribute</th>
                  <th>Cluster 0</th>
                  <th>Cluster 1</th>
                  <th>Cluster 2</th>
                  <th>Cluster 3</th>
                  <th>Cluster 4</th>
                  <th>Cluster 5</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ItemType</td>
                  <td>Other: Adult/YA</td>
                  <td>Book: Juv</td>
                  <td>Book: Adult/YA</td>
                  <td>CD: Adult/YA</td>
                  <td>NA-Pamphlets*</td>
                  <td>Book: Juv</td>
                </tr>
                <tr>
                  <td>Collection</td>
                  <td>NA-Holiday - Adult - Stack</td>
                  <td>NC-Children's DVDs</td>
                  <td>NA-Audio Cassettes</td>
                  <td>Peak Picks Fiction</td>
                  <td>Online Resource</td>
                  <td>NC-Children's-Newbery/Caldecott</td>
                </tr>
                <tr>
                  <td>CheckoutDateTime</td>
                  <td>15:00 - 17:59</td>
                  <td>12:00 - 14:59</td>
                  <td>15:00 - 17:59</td>
                  <td>15:00 - 17:59</td>
                  <td>12:00 - 14:59</td>
                  <td>15:00 - 17:59</td>
                </tr>
                <tr>
                  <td>Season</td>
                  <td>Summer</td>
                  <td>Fall</td>
                  <td>Fall</td>
                  <td>Summer</td>
                  <td>Summer</td>
                  <td>Summer</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">*Attribute and value do not match</div>
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Mean
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Attribute</th>
                  <th>Cluster 0</th>
                  <th>Cluster 1</th>
                  <th>Cluster 2</th>
                  <th>Cluster 3</th>
                  <th>Cluster 4</th>
                  <th>Cluster 5</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ItemType</td>
                  <td>21</td>
                  <td>417.3444</td>
                  <td>2.8095</td>
                  <td>4.9996</td>
                  <td>163.962</td>
                  <td>417.4218</td>
                </tr>
                <tr>
                  <td>Collection</td>
                  <td>210.7557</td>
                  <td>460.7873</td>
                  <td>233.0109</td>
                  <td>246.0373</td>
                  <td>182.3389</td>
                  <td>458.8215</td>
                </tr>
                <tr>
                  <td>CheckoutDateTime</td>
                  <td>4.6233</td>
                  <td>4.4729</td>
                  <td>4.5819</td>
                  <td>4.5783</td>
                  <td>4.3388</td>
                  <td>4.5031</td>
                </tr>
                <tr>
                  <td>Season</td>
                  <td>1.4801</td>
                  <td>2.4412</td>
                  <td>1.5282</td>
                  <td>1.4631</td>
                  <td>1.4847</td>
                  <td>0.5773</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Standard Deviation
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Attribute</th>
                  <th>Cluster 0</th>
                  <th>Cluster 1</th>
                  <th>Cluster 2</th>
                  <th>Cluster 3</th>
                  <th>Cluster 4</th>
                  <th>Cluster 5</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ItemType</td>
                  <td>0.0067</td>
                  <td>2.3966</td>
                  <td>0.9737</td>
                  <td>2.5054</td>
                  <td>126.9215</td>
                  <td>2.3679</td>
                </tr>
                <tr>
                  <td>Collection</td>
                  <td>50.5548</td>
                  <td>15.0263</td>
                  <td>116.0684</td>
                  <td>22.8938</td>
                  <td>74.5349</td>
                  <td>16.8293</td>
                </tr>
                <tr>
                  <td>CheckoutDateTime</td>
                  <td>0.9005</td>
                  <td>0.8888</td>
                  <td>0.8677</td>
                  <td>0.9035</td>
                  <td>0.9486</td>
                  <td>0.9179</td>
                </tr>
                <tr>
                  <td>Season</td>
                  <td>1.1747</td>
                  <td>0.5341</td>
                  <td>1.092</td>
                  <td>1.0636</td>
                  <td>1.1877</td>
                  <td>0.539</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
      
      
    
      
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright of APA? PDB 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>
  
	
	<div th:replace="resources :: javascripts"></div>
</body>

<script>
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif',
Chart.defaults.global.defaultFontColor = "#292b2c";

var ctx = document.getElementById("myPieChart"), 
		myPieChart = new Chart(
		ctx, {
			type : "pie",
			data : {
				labels : [ "Cluster 0", "Cluster 1", "Cluster 2", "Cluster 3", "Cluster 4", "Cluster 5" ],
				datasets : [ {
					data : [ 6, 13, 37, 30, 1, 13 ],
					backgroundColor : [ "#007bff", "#dc3545", "#ffc107",
							"#28a745", "#add8e6", "#ff00ff" ]
				} ]
			}
		});
</script>

</html>