<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Error</title>
	<div th:replace="resources :: assets"></div>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <div th:replace="resources :: navigation"></div>
  
  <div class="content-wrapper">
    <div class="container-fluid">
      
      <div background="img/header-bg.jpg">
      	<div class="row">
		  <div class="col-12">
		  	<center>
		    	<h1>Error!</h1>
		    	<h3>There's something wrong with the page that you tried to access.</h3>
		  	</center>
		  </div>
		</div>
    
	    <!-- /.container-fluid-->
	    <!-- /.content-wrapper-->
	    
	    <footer class="sticky-footer">
	      <div class="container">
	        <div class="text-center">
	          <small>Copyright of APA? PDB 2017</small>
	        </div>
	      </div>
	    </footer>
	    
	    <!-- Scroll to Top Button-->
	    
	    <a class="scroll-to-top rounded" href="#page-top">
	      <i class="fa fa-angle-up"></i>
	    </a>
      </div>
      
	<div th:replace="resources :: javascripts"></div>
	</div>
	</div>
</body>
</html>
