<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:fragment="assets">
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		
		<!-- Bootstrap core CSS-->
		<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<!-- Custom fonts for this template-->
		<link href="../vendor/font-awesome/css/font-awesome.min.css"
			rel="stylesheet" type="text/css" />
		<!-- Custom styles for this template-->
		<link href="../css/sb-admin.css" rel="stylesheet" />
	</div>
</head>
<body>
	<div th:fragment="header">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/student/viewall">Daftar Mahasiswa</a></li>
			<li><a href="/student/add">Menambah Mahasiswa</a></li>
		</ul>
	</div>
	<div th:fragment="footer">
		<hr />
		<h4>Mata Kuliah APAP</h4>
	</div>
	
	<div th:fragment="javascripts">
		<!-- Bootstrap core JavaScript-->
		<script src="../vendor/jquery/jquery.min.js"></script>
		<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		
		<!-- Core plugin JavaScript-->
		<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
		
		<!-- Page level plugin JavaScript-->
		<script src="../vendor/chart.js/Chart.min.js"></script>
		
		<!-- Custom scripts for all pages-->
		<script src="../js/sb-admin.min.js"></script>
		
		<!-- Custom scripts for this page-->
		<!-- <script src="../js/sb-admin-charts.min.js"></script> -->
		
		<!-- Page level plugin JavaScript-->
	    <script src="../vendor/datatables/jquery.dataTables.js"></script>
	    <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
	    
	    <!-- Custom scripts for this page-->
	    <script src="js/sb-admin-datatables.min.js"></script>
	</div>
	
	<div th:fragment="navigation">
		<!-- Navigation-->
		  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
		    <a class="navbar-brand" href="index.html">Seattle Public Library</a>
		    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarResponsive">
		      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
		        
		        <!-- HOME -->	
		        
		        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
		          <a class="nav-link" th:href="'/'">
		            <i class="fa fa-fw fa-file"></i>
		            <span class="nav-link-text">Home</span>
		          </a>
		        </li>
		        
		        <!-- ABOUT -->
		        
		        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
		          <a class="nav-link" th:href="'/about'">
		            <i class="fa fa-fw fa-file"></i>
		            <span class="nav-link-text">About</span>
		          </a>
		        </li> 
		        	        
		        	        		        
		        <!-- WEKA STATISTICS  -->
		        
		        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
		          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
		            <i class="fa fa-fw fa-dashboard"></i>
		            <span class="nav-link-text">Weka Statistics</span>
		          </a>
		          <ul class="sidenav-second-level collapse" id="collapseMulti">
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti1">2005</a>
		              <ul class="sidenav-third-level collapse" id="collapseMulti1">
		                <li>
		                  <a th:href="'/weka-skm/2005'">Simple K-Means</a>
		                </li>
		                <li>
		                  <a th:href="'/weka-em/2005'">EM</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">2006</a>
		              <ul class="sidenav-third-level collapse" id="collapseMulti2">
		                <li>
		                  <a th:href="'/weka-skm/2006'">Simple K-Means</a>
		                </li>
		                <li>
		                  <a th:href="'/weka-em/2006'">EM</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti3">2007</a>
		              <ul class="sidenav-third-level collapse" id="collapseMulti3">
		                <li>
		                  <a th:href="'/weka-skm/2007'">Simple K-Means</a>
		                </li>
		                <li>
		                  <a th:href="'/weka-em/2007'">EM</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti4">2008</a>
		              <ul class="sidenav-third-level collapse" id="collapseMulti4">
		                <li>
		                  <a th:href="'/weka-skm/2008'">Simple K-Means</a>
		                </li>
		                <li>
		                  <a th:href="'/weka-em/2008'">EM</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti5">2009</a>
		              <ul class="sidenav-third-level collapse" id="collapseMulti5">
		                <li>
		                  <a th:href="'/weka-skm/2009'">Simple K-Means</a>
		                </li>
		                <li>
		                  <a th:href="'/weka-em/2009'">EM</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti6">2010</a>
		              <ul class="sidenav-third-level collapse" id="collapseMulti6">
		                <li>
		                  <a th:href="'/weka-skm/2010'">Simple K-Means</a>
		                </li>
		                <li>
		                  <a th:href="'/weka-em/2010'">EM</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti7">2011</a>
		              <ul class="sidenav-third-level collapse" id="collapseMulti7">
		                <li>
		                  <a th:href="'/weka-skm/2011'">Simple K-Means</a>
		                </li>
		                <li>
		                  <a th:href="'/weka-em/2011'">EM</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti8">2012</a>
		              <ul class="sidenav-third-level collapse" id="collapseMulti8">
		                <li>
		                  <a th:href="'/weka-skm/2012'">Simple K-Means</a>
		                </li>
		                <li>
		                  <a th:href="'/weka-em/2012'">EM</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti9">2013</a>
		              <ul class="sidenav-third-level collapse" id="collapseMulti9">
		                <li>
		                  <a th:href="'/weka-skm/2013'">Simple K-Means</a>
		                </li>
		                <li>
		                  <a th:href="'/weka-em/2013'">EM</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti10">2014</a>
		              <ul class="sidenav-third-level collapse" id="collapseMulti10">
		                <li>
		                  <a th:href="'/weka-skm/2014'">Simple K-Means</a>
		                </li>
		                <li>
		                  <a th:href="'/weka-em/2014'">EM</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti11">2015</a>
		              <ul class="sidenav-third-level collapse" id="collapseMulti11">
		                <li>
		                  <a th:href="'/weka-skm/2015'">Simple K-Means</a>
		                </li>
		                <li>
		                  <a th:href="'/weka-em/2015'">EM</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti12">2016</a>
		              <ul class="sidenav-third-level collapse" id="collapseMulti12">
		                <li>
		                  <a th:href="'/weka-skm/2016'">Simple K-Means</a>
		                </li>
		                <li>
		                  <a th:href="'/weka-em/2016'">EM</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti13">2017</a>
		              <ul class="sidenav-third-level collapse" id="collapseMulti13">
		                <li>
		                  <a th:href="'/weka-skm/2017'">Simple K-Means</a>
		                </li>
		                <li>
		                  <a th:href="'/weka-em/2017'">EM</a>
		                </li>
		              </ul>
		            </li>
		          </ul>
		        </li>
		        
		        <!-- TENSORFLOW -->
		        
		        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
		          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMultiTF" data-parent="#exampleAccordion">
		            <i class="fa fa-fw fa-dashboard"></i>
		            <span class="nav-link-text">Tensorflow Scatterplot</span>
		          </a>
		          <ul class="sidenav-second-level collapse" id="collapseMultiTF">
		            <li>
		              <a th:href="'/tensorflow/2005'">2005</a>
		            </li>
		            <li>
		              <a th:href="'/tensorflow/2006'">2006</a>
		            </li>
		            <li>
		              <a th:href="'/tensorflow/2007'">2007</a>
		            </li>
		            <li>
		              <a th:href="'/tensorflow/2008'">2008</a>
		            </li>
		            <li>
		              <a th:href="'/tensorflow/2009'">2009</a>
		            </li>
		            <li>
		              <a th:href="'/tensorflow/2010'">2010</a>
		            </li>
		            <li>
		              <a th:href="'/tensorflow/2011'">2011</a>
		            </li>
		            <li>
		              <a th:href="'/tensorflow/2012'">2012</a>
		            </li>
		            <li>
		              <a th:href="'/tensorflow/2013'">2013</a>
		            </li>
		            <li>
		              <a th:href="'/tensorflow/2014'">2014</a>
		            </li>
		            <li>
		              <a th:href="'/tensorflow/2015'">2015</a>
		            </li>
		            <li>
		              <a th:href="'/tensorflow/2016'">2016</a>
		            </li>
		            <li>
		              <a th:href="'/tensorflow/2017'">2017</a>
		            </li>
		          </ul>
		        </li>
		        
		        <!-- Spark WSSSE -->
		        
		        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
		          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSpark" data-parent="#exampleAccordion">
		            <i class="fa fa-fw fa-dashboard"></i>
		            <span class="nav-link-text">Spark WSSSE</span>
		          </a>
		          <ul class="sidenav-second-level collapse" id="collapseSpark">
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSpark1">2005</a>
		              <ul class="sidenav-third-level collapse" id="collapseSpark1">
		                <li>
		                  <a th:href="'/spark-fasilkom/2005'">Fasilkom UI's Hadoop</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-databricks/2005'">Databricks</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-jupyter/2005'">Jupyter</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSpark2">2006</a>
		              <ul class="sidenav-third-level collapse" id="collapseSpark2">
		                <li>
		                  <a th:href="'/spark-fasilkom/2006'">Fasilkom UI's Hadoop</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-databricks/2006'">Databricks</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-jupyter/2006'">Jupyter</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSpark3">2007</a>
		              <ul class="sidenav-third-level collapse" id="collapseSpark3">
		                <li>
		                  <a th:href="'/spark-fasilkom/2007'">Fasilkom UI's Hadoop</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-databricks/2007'">Databricks</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-jupyter/2007'">Jupyter</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSpark4">2008</a>
		              <ul class="sidenav-third-level collapse" id="collapseSpark4">
		                <li>
		                  <a th:href="'/spark-fasilkom/2008'">Fasilkom UI's Hadoop</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-databricks/2008'">Databricks</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-jupyter/2008'">Jupyter</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSpark5">2009</a>
		              <ul class="sidenav-third-level collapse" id="collapseSpark5">
		                <li>
		                  <a th:href="'/spark-fasilkom/2009'">Fasilkom UI's Hadoop</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-databricks/2009'">Databricks</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-jupyter/2009'">Jupyter</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSpark6">2010</a>
		              <ul class="sidenav-third-level collapse" id="collapseSpark6">
		                <li>
		                  <a th:href="'/spark-fasilkom/2010'">Fasilkom UI's Hadoop</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-databricks/2010'">Databricks</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-jupyter/2010'">Jupyter</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSpark7">2011</a>
		              <ul class="sidenav-third-level collapse" id="collapseSpark7">
		                <li>
		                  <a th:href="'/spark-fasilkom/2011'">Fasilkom UI's Hadoop</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-databricks/2011'">Databricks</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-jupyter/2011'">Jupyter</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSpark8">2012</a>
		              <ul class="sidenav-third-level collapse" id="collapseSpark8">
		                <li>
		                  <a th:href="'/spark-fasilkom/2012'">Fasilkom UI's Hadoop</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-databricks/2012'">Databricks</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-jupyter/2012'">Jupyter</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSpark9">2013</a>
		              <ul class="sidenav-third-level collapse" id="collapseSpark9">
		                <li>
		                  <a th:href="'/spark-fasilkom/2013'">Fasilkom UI's Hadoop</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-databricks/2013'">Databricks</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-jupyter/2013'">Jupyter</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSpark10">2014</a>
		              <ul class="sidenav-third-level collapse" id="collapseSpark10">
		                <li>
		                  <a th:href="'/spark-fasilkom/2014'">Fasilkom UI's Hadoop</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-databricks/2014'">Databricks</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-jupyter/2014'">Jupyter</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSpark11">2015</a>
		              <ul class="sidenav-third-level collapse" id="collapseSpark11">
		                <li>
		                  <a th:href="'/spark-fasilkom/2015'">Fasilkom UI's Hadoop</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-databricks/2015'">Databricks</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-jupyter/2015'">Jupyter</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSpark12">2016</a>
		              <ul class="sidenav-third-level collapse" id="collapseSpark12">
		                <li>
		                  <a th:href="'/spark-fasilkom/2016'">Fasilkom UI's Hadoop</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-databricks/2016'">Databricks</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-jupyter/2016'">Jupyter</a>
		                </li>
		              </ul>
		            </li>
		            
		            <li>
		              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSpark13">2017</a>
		              <ul class="sidenav-third-level collapse" id="collapseSpark13">
		                <li>
		                  <a th:href="'/spark-fasilkom/2017'">Fasilkom UI's Hadoop</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-databricks/2017'">Databricks</a>
		                </li>
		                <li>
		                  <a th:href="'/spark-jupyter/2017'">Jupyter</a>
		                </li>
		              </ul>
		            </li>
		          </ul>
		        </li>
		        
		        <!--  -->
		        
		      </ul>
		    </div>
		  </nav>
	</div>
</body>
</html>