<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="weka-resources :: charts">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <div th:replace="weka-resources :: navigation"></div>
  
  <div class="content-wrapper">
    <div class="container-fluid">
    
      <!-- Area Chart Example-->  
      <div class="row">
        <div class="col-lg-4">
          <!-- Example Pie Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>Weka 2005</div>
            <div class="card-body">
              <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright of APA? PDB 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>
  
	
	<div th:replace="weka-resources :: javascripts"></div>
</body>

<script>
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif',
Chart.defaults.global.defaultFontColor = "#292b2c";

var ctx = document.getElementById("myPieChart"), 
		myPieChart = new Chart(
		ctx, {
			type : "pie",
			data : {
				labels : [ "Blue", "Red", "Yellow", "Green" ],
				datasets : [ {
					data : [ 12.21, 15.58, 11.25, 8.32 ],
					backgroundColor : [ "#007bff", "#dc3545", "#ffc107",
							"#28a745" ]
				} ]
			}
		});
</script>

</html>
